###########################
# Direct Dependencies
###########################
# black
# coverage
# django
# django-bootstrap4
# django-phonenumber-field
# flake8
# model-mommy
# phonenumbers
# psycopg2
# python-dotenv
# twilio
# whitenoise

appdirs==1.4.4
attrs==20.3.0
Babel==2.9.1
beautifulsoup4==4.9.3
black==21.4b2
certifi==2020.12.5
chardet==4.0.0
Click==7.1.2
coverage==5.5
Django==3.2
django-bootstrap4==3.0.0
django-phonenumber-field==5.1.0
entrypoints==0.3
flake8==5.0.3
idna==2.10
mccabe==0.6.1
model-mommy==2.0.0
phonenumbers==8.12.21
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==2.1.0
PySocks==1.7.1
python-dotenv==0.17.0
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
twilio==6.50.1
urllib3==1.26.4
whitenoise==5.2.0
