###########################
# Direct Dependencies
###########################
# black
# coverage
# django
# django-bootstrap4
# django-phonenumber-field
# flake8
# model-mommy
# phonenumbers
# psycopg2
# python-dotenv
# twilio
# whitenoise

appdirs==1.4.3
attrs==19.1.0
Babel==2.7.0
beautifulsoup4==4.8.0
black==19.3b0
certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
coverage==4.5.4
Django==2.2.5
django-bootstrap4==1.0.1
django-phonenumber-field==3.0.1
entrypoints==0.3
flake8==3.7.8
idna==2.8
mccabe==0.6.1
model-mommy==1.6.0
phonenumbers==8.10.18
psycopg2==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
PySocks==1.7.0
python-dotenv==0.10.3
pytz==2019.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
toml==0.10.0
twilio==6.30.0
urllib3==1.25.3
whitenoise==4.1.3