{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}Support Dashboard{% endblock title %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
        <h2>Support Tickets</h2>

        <p class="lead">
          This is the list of most recent support tickets. Click the "Call customer" button to start a phone call from your browser.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 order-md-2 mb-4">
        <div class="card">
          <h5 class="card-header">
            Make a call
          </h5>

          <div class="card-body">
            <div class="form-group row">
              <label for="call-status" class="col-3 col-form-label">Status</label>
              <div class="col-9">
                <input id="call-status" class="form-control" type="text" placeholder="Connecting to Twilio..." readonly>
              </div>
            </div>

            <button class="btn btn-lg btn-primary answer-button" disabled>
              Answer call
            </button>
            
            <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">
              Hang up
            </button>
          </div>
        </div>
      </div>


      <div class="col-md-7 order-md-1">
        {% for ticket in support_tickets %}
          <div class="card mb-4">
            <h5 class="card-header">
              Ticket #{{ ticket.id }}

              <small class="float-right">{{ ticket.timestamp }}</small>
            </h5>

            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p><strong>Name:</strong> {{ ticket.name }}</p>
                  <p><strong>Phone number:</strong> {{ ticket.phone_number.as_international }}</p>
                  <p><strong>Description:</strong></p>
                  {{ ticket.description|linebreaks }}
                </div>

                <div class="col col-auto">
                  <button onclick="callCustomer('{{ ticket.phone_number }}')" type="button" class="btn btn-primary btn-sm call-customer-button">
                  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  Call customer
                </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}
