{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %} - Browser Calls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- CSS -->
    {% bootstrap_css %}
    <link href="{% static 'css/bicycle-polo.css' %}" rel="stylesheet">

    {% block page_css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Birchwood Bicycle Polo Co.</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Support Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <footer class="container">
      <div class="row">
        <p class="p-2 flex-grow-1">&copy; Your Company 2019</p>

        {% block footer %}
        {% endblock %}
      </div>
    </footer>

    <!-- JavaScript -->
    {% bootstrap_javascript jquery=True %}
    <script src="{% static 'twilio.min.js' %}"></script>
    <script src="{% static 'jquery.min.js' %}"></script>

    {% block page_js %}{% endblock %}

    <script src="{% static 'js/browser-calls.js' %}"></script>

  </body>

</html>

 
