{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Home{% endblock title %}

{% block content %}
  <!-- Main jumbotron -->
  <div class="jumbotron bicycle-polo-background">
    <div class="container bicycle-polo-text">
      <h1 class="display-4">Birchwood Bicycle Polo Co.</h1>
      <p class="lead">
        We sell only the finest bicycle polo supplies for those seeking fame and glory in this <a href="https://www.youtube.com/watch?v=DaK9Zj3QHDY" target="_blank">sport of kings</a>.
      </p>
      <hr class="my-4">
      <p>
        Talk to one of our support agents now — or fill out the support form below and someone will call you later.
      </p>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary btn-lg mb-2" href="#support" role="button">Get help</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    {% include '_messages.html' %}

    <h2 id="support">Contact support</h2>

    <p class="lead">
      Talk with one of our support agents right now by clicking the "Call Support" button on the right. If you can't talk now, fill out a support ticket and an agent will call you later.
    </p>

    <div class="row">

      <div class="col-md-6 order-md-2 mb-4">
        <div class="card">
          <h5 class="card-header">
            Talk to support now
          </h5>

          <div class="card-body">
            <div class="form-group row">
              <label for="call-status" class="col-2 col-form-label">Status</label>
              <div class="col-10">
                <input id="call-status" class="form-control" type="text" placeholder="Connecting to Twilio..." readonly>
              </div>
            </div>

            <button class="btn btn-lg btn-primary call-support-button" onclick="callSupport()">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call support
            </button>
            
            <button class="btn btn-lg btn-danger hangup-button" disabled onclick="hangUp()">
              Hang up
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 order-md-1">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit ticket</button>
          {% endbuttons %}
        </form>
      </div>

    </div>
  </div>
{% endblock %}


{% block footer %}
<small class="p-2">
  Header photo courtesy <a href="https://www.flickr.com/photos/tink20seven/4654348885/">David Sachs via Flickr</a>
</small>
{% endblock %}